<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>RavenDB - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/jquery-ui-1.8.20.humanity.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/all.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/fancybox.css")" rel="stylesheet" type="text/css" />*@
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.19.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.3.09.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.cookie.1fa4a1807.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/humane.js")" type="text/javascript"></script>

    <script type="text/javascript">
    $.extend($.validator.messages, {
        required: "*",
        minlength: 'At least {0} chars',
        maxlength: 'Maximum {0} chars'
    });

    $.fn.bindEnter = function () {
        this.find('input').keypress(function (e) {
            if (e.which === 13 || e.keyCode === 13) {
                $(e.target).parents('form').submit();
                return false;
            }

            return true;
        });

        return this;
    };

    </script>

    @RenderSection("head", false)
</head>

<body>
<div id="page">
	<div id="main">
		<div class="main-holder">
			<div class="wrapper">
				<header id="header">
					<strong class="logo"><a href="#">RavenDB Open source 2nd generation document DB</a></strong>
					@RenderSection("LoggedInUser", false)
				</header>
                @RenderBody()
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="footer-holder">
			<div class="wrapper">
				<a class="back-top" href="#page">Back to Top</a>
@*				<ul class="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">Learn</a></li>
					<li><a href="#">Community</a></li>
					<li><a href="#">Training &amp; Support</a></li>
					<li><a href="#">Mailing List</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Source Code</a></li>
					<li><a href="#">Builds</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>*@
				<div class="holder">
					<div class="follow">
						<div class="follow-holder">
							<em class="label">Follow Us</em>
							<ul class="soc-nav">
								<li><a class="contact" href="#">Contact</a></li>
								<li><a class="facebook" href="#">Facebook</a></li>
								<li><a class="twitter" href="#">Twitter</a></li>
								<li><a class="youtube" href="#">YouTube</a></li>
								<li><a class="github" href="#">Github</a></li>
							</ul>
						</div>
						<a href="#" class="sublogo"><img src="/images/logo01.png" alt="Raven DB" width="156" height="72"></a>
					</div>
					<a class="develop" href="#">
						<em>Proudly Developed by</em>
						<strong>hibernating <span>rhinos</span></strong>
						<img class="logo" alt="image description" src="/images/logo-rhino.png" width="51" height="50">
					</a>
				</div>
				<p>Copyright &copy; 2011 Hibernating Rhinos. All rights reserved.</p>
                <div style="text-align: center"><a href="http://www.fatcow.com/free-icons" style="vertical-align: bottom; font-size: 9px">Some icons by: Fat Cow</a></div>
			</div>
		</div>
	</footer>
</div>

</body>
</html>
